**/node_modules/
**/tmp/
**/__pycache__/
**/data/*.sqlite
**/data/office-documents/
**/.vite/
.env
.env.*
!.env.example
**/dist/
*.pdf
*.xlsx
*.zip
*.docx
eng.traineddata
!**/templates/*.docx
!**/templates/*.xlsx
!**/templates/*.pptx
.gateway-data/
